* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80800041;
}
#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 1000px;
    min-height: 800px;
    border-radius: 4rem;
    background-color: #80800070;
    box-shadow: 0 0 20px #000000b3;
    padding: 2rem;
}
#menuLabel {
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 1px;
}
#signature {
    font-size: 1rem;
    color: #0000004d;
}
.menuBtn {
    border: 5px inset olive;
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    background-color: rgba(128, 128, 0, 0.658);
    font-weight: 900;
    transition: .3s;
}
.menuBtn:hover {
    background-color: rgb(102, 102, 0);
    color: #ffffffc9;
    cursor: pointer;
}
.hide{
    display: none;
}
#media {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.mediaIcon {
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    transition: .5s;
}
.mediaIcon:hover {
    transform: rotate(360deg) scale(1.2) translate(4px, 4px);
    box-shadow: 0 0 15px olive;
    cursor: pointer;
}
#game {
    display: none;
}